@font-face {
    font-family: 'Harry Potter';
    src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');
}

@font-face {
    font-family: 'LUSA';
    src: url('http://www.fontsaddict.com/fontface/lusa.ttf');
}

.card1 {
    width: 90%;
    border-radius: 1%;
}

.header {
    font-family: LUSA;
    text-align: center;
}

input.ng-invalid.ng-dirty {
    border-bottom-color: red;
    box-shadow: 0 1px 0 0 red;
}

input[type="submit"][disabled] {
    color: red;
    background: #000;
}